<!DOCTYPE html>
<html lang="{{ config.extra.main_lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ get_url(path="x.css") | safe }}">
    <style>
      :root {
        --bg-color: #fff;
        --fg-color: #1b1b1c;
        --additional-color-a: #384045;
        --additional-color-b: #00cc80;
        --additional-color-c: #2c3e50;
      }
    </style>

    {% if config.generate_rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
    {% endif %}
</head>

<body>
  <div class="container">
    <div class="wrapper">
      <main role="main">
        <div class="content">
          {% block content %}
          <header>Articles</header>
            <ul class="item-list">
              {% for page in section.pages | reverse %}
              <li>
                <h2><a href="{{ page.permalink }}">{{ page.title }}</a></h2>
                <time>{{ page.date | date(format="%Y-%m-%d") }}</time>
                <p>{{ page.description | safe }}</p>
              </li>
              {% endfor %}
            </ul>
          {% endblock content %}
        </div>
      </main>
    </div>
  </div>
</body>
</html>